[Desktop Entry]
Categories=AudioVideo;Audio;Player;GTK;
Comment=Interent Radio Player for Ubuntu
Exec=/usr/bin/radiotray-ng
Hidden=false
Icon=radiotray-ng-notification
Name=Radiotray-NG
StartupNotify=false
Terminal=false
Type=Application

